header {
    height: 10vh;
    background-color: rgb(26, 26, 26);
}
header div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5vw;  
}
.titulo-principal {
    color: aliceblue;
}
.logo-alura {
    margin-top: 2vh;
    height: 4vh
}
.logo-marvel{
    margin-top: 1.5vh;
    height: 6vh
}
h1 {

    font-size: x-large;
    margin: 15px;
    text-align: center;
}  
p {
    padding: 5px;
    font-size: medium;
}


main {
    font-family: "Barriecito", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: aliceblue;
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
    min-height: calc(100vh - 100px);
}
.contenedor {
    height: 50vh;
    width: 60vw;
    background-color: rgb(243, 243, 243);
    margin-top: 5vh;
    box-shadow: -12px 10px 5.8px 0px #00000040;
    overflow-y: scroll;
    border-radius: 3px;
    background-image: url(imagenes/marvel-bg.jpg);
    background-size: auto 100%;
}
.cards-contenedor {
    display: flex;
    justify-content: center;
    gap: 3%;
    flex-wrap: wrap;    
}
main ::-webkit-scrollbar{
    background-color: rgb(243, 243, 243);
}
.card {
    max-width: 100%;
    margin-bottom: 80%;
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    border-radius: 10px;
    box-shadow: -2px 2px 2px 1px #00000040;
}
.card-info {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    align-items: center;
}
.card-valor {
    display: flex;
    justify-content: space-between;
    gap: 5vw;

}
.producto {
    width: 10vw;
    margin: 5px;
}
.trash {
    width: 1.5vw;
    margin: 5px;
}


.formulario {
    height: 50vh;
    width: 35%;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
.formulario-campo {
    width: 75%;
    padding: 12%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
input {
    font-size: large;
    padding: 8px 15px 6px 10px;
    margin-top: 15px;
    border-radius: 18px;
    background-color: rgb(243, 243, 243);
    border-color: black;
    box-shadow: -2px 3px 5px 0px #00000075;
}
.botones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
button {
    font-size: large;
    padding: 6px 13%;
    margin-top: 15px;
    border-radius: 18px;
    box-shadow: -2px 3px 5px 0px #00000075;
}
.boton-enviar {
    color: rgb(197, 1, 1);
    font-weight: 800;
    background-color: rgb(26, 26, 26);
}
.boton-limpiar {
    color: rgb(26, 26, 26);
    font-weight: 800;
    background-color: rgb(197, 1, 1);
}


footer {
    position: relative;
    bottom: 0;
    height: 100px;
    background-color: rgb(26, 26, 26);
}
footer h2 {
 color: rgb(243, 243, 243);
}
footer p {
    color: rgb(243, 243, 243);
}
/* responsividad movil hasta 768px */